@font-face {
  font-family: Montserrat-Regular;
  font-size: 1em;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Semibold;
  font-size: 1em;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Montserrat-Regular;
  width: 100%;
}

.first-section {
  background-color: #CC9A13;
  color: #fff;
  padding: 10px 0;
}

.first-section h2 {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  font-family: Montserrat-Semibold;
  position: relative;
  text-shadow: 0 3px 4px rgba(0,0,0,0.65);
}

.second-section {
  background-color: #fff;
  color: #000;
  padding: 10px 0;
}

.second-section h2 {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  font-family: Montserrat-Semibold;
  position: relative;
  text-shadow: 0 3px 4px rgba(0,0,0,0.35);
}

.labs {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.labs ul {
  margin: 0 auto;
  width: 50%;
}

.labs li {
  text-align: center;
  border-radius: 8px;
  display: block;
  padding: 50px 0;
  margin: 10px 0;
  background-color: #000;
  color: #fff;
}

.labs a {
  text-decoration: none;
}

#camacari {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/camacari.jpg");
  background-size: 100% ;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#camacari:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/camacari.jpg");
  background-size: 110%;
}

#candeias {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/candeias.jpg");
  background-size: 100% ;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#candeias:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/candeias.jpg");
  background-size: 110%;
}

#canudos {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/canudos.png");
  background-size: 100%;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#canudos:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/canudos.png");
  background-size: 110%;
}

#federacao {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/federacao.jpg");
  background-size: 100% ;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#federacao:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/federacao.jpg");
  background-size: 110%;
}

#camacari {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/camacari.jpg");
  background-size: 100% ;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#camacari:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/camacari.jpg");
  background-size: 110%;
}

#candeias {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.55) 100%), url("../img/candeias.jpg");
  background-size: 100% ;
  background-position: 50%;
  font-family: Montserrat-Regular;
  font-size: 22px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  transition: background-size 1s;
  -webkit-transition: background-size 1s;
  -ms-transition: background-size 1s;
}

#candeias:hover {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 100%), url("../img/candeias.jpg");
  background-size: 110%;
}

footer {
  background-color: #09F;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

footer p {
  padding: 40px;
}
